*{
    margin: 5px;
    padding: 0;
}
body{
    height:100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
#title{
    font-weight: bold;
    font-size: 20px;
    background-color: cornflowerblue;
    height: 40px;
}
.button{
    background-color: coral;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
.wrapper{
    overflow: auto;
    position: fixed;
    width: 324px;
    height: 55%;
    background-color:darkgray;
    margin-bottom: 5%;
}
.table{
    width: 95%;
}
#usr{
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
#time{
    text-align: right;
}
#cont{
    text-align: left;
    border-bottom: 5px solid white;
}
.Post{
    margin-top: 460px;
}
p input{
    width: 300px;
    height: 180px;
}
#post{
    background-color: cornflowerblue;
}